<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>



    <Product Id='*' Name='DataConverter 1.1.10.0 for Integration Services 2012' Language='1033'
             Version='1.1.10.0' Manufacturer='innovative IT solutions AG' UpgradeCode='42914EA0-67E4-4375-9C1A-A9FF0FC27399'>

        <Package Description='DataConverter Installer package'
                  Manufacturer='innovative IT solutions AG' InstallerVersion='200' Compressed='yes' />

        <Media Id='1' Cabinet='DataConverter.cab' EmbedCab='yes' />

        <Upgrade Id="42914EA0-67E4-4375-9C1A-A9FF0FC27399">
            <UpgradeVersion Minimum="1.0.0"
                            IncludeMinimum="yes"
                            Maximum="1.1.10"
                            Property="OLDERVERSIONBEINGUPGRADED" />
        </Upgrade>
        <Upgrade Id="42914EA0-67E4-4375-9C1A-A9FF0FC27399">
            <UpgradeVersion Minimum="1.1.10"
                            OnlyDetect="yes"
                            Property="NEWERVERSIONDETECTED" />
        </Upgrade>

        <Condition Message="Eine neuere Version der DataConverter Komponente ist breits installiert. Die Installation wird abgebrochen.">
            NOT NEWERVERSIONDETECTED OR Installed
        </Condition>

        <Property Id="WIXUI_INSTALLDIR" Value="PIPELINECOMPONENTS" />

        <UIRef Id="WixUI_InstallDir" />

        <UI>
            <UIRef Id="WixUI_InstallDir" />
            <!-- skip licence dialog -->
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
        </UI>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="PF86" Name="Program Files (x86)">
                <Directory Id="MicrosoftSQLServer" Name="Microsoft SQL Server">
                    <Directory Id="dir110" Name="110">
                        <Directory Id="DTS" Name="DTS">
                            <Directory Id="PIPELINECOMPONENTS" Name="PipelineComponents">
                                <Component Id="DataConverter2.dll" Guid='EF64498C-7E19-4047-AB26-A010BFD62CCD'>
                                    <File Id='DataConverter2.dll' Source="c:\Program Files (x86)\Microsoft SQL Server\110\DTS\PipelineComponents\DataConverter2.dll" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="GAC" Name="GAC">
                <Component Id="RT_DataConverter" Guid="250ACE53-C62A-488B-99BF-739452856833" DiskId="1">
                    <File Id="F_RT_DataConverter" Name="DataConverter2.dll" Source="c:\Program Files (x86)\Microsoft SQL Server\110\DTS\PipelineComponents\DataConverter2.dll" KeyPath="yes" Assembly=".net"/>
                </Component>				
            </Directory>
        </Directory>





        <Feature Id='MyFeature' Title='My 1st Feature' Level='1'>
            <ComponentRef Id='DataConverter2.dll' />
            <ComponentRef Id='RT_DataConverter' />	
        </Feature>



        <InstallExecuteSequence>


            <RemoveExistingProducts After="InstallValidate"/>


        </InstallExecuteSequence>

        <Icon Id="DataConverter_DC.ico" SourceFile="C:\Visual Studio\Visual Studio TFS\initions-BI\Henry Components\DataConverter\Release\2012\DataConverter 1.1.8\DataConverter\DataConverter_DC.ico"/>
        <Property Id="ARPPRODUCTICON" Value="DataConverter_DC.ico" />
        <Property Id="ALLUSERS" Value="1" />


    </Product>

</Wix>

