<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.DTS" version="13.0.0" />
  <package id="Microsoft.SqlServer.DTS" version="12.0.0" />
  <package id="Microsoft.SqlServer.DTS" version="11.0.0" />
  <package id="Microsoft.SqlServer.DTS" version="10.5.0" />
</packages>