<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>


  
    <Product Id='*' Name='DataConverter 1.1.8.0 for Integration Services 2008' Language='1033'
             Version='1.1.8.0' Manufacturer='innovative IT solutions AG' UpgradeCode='D45D6CB6-26C7-486C-8954-8A40E06CE79F'>
     
        <Package Description='DataConverter Installer package'
                  Manufacturer='innovative IT solutions AG' InstallerVersion='200' Compressed='yes' />

        <Media Id='1' Cabinet='DataConverter.cab' EmbedCab='yes' />

        <Upgrade Id="D45D6CB6-26C7-486C-8954-8A40E06CE79F">
            <UpgradeVersion Minimum="1.0.0"
                            IncludeMinimum="yes"
                            Maximum="1.1.8"
                            Property="OLDERVERSIONBEINGUPGRADED" />
        </Upgrade>
        <Upgrade Id="D45D6CB6-26C7-486C-8954-8A40E06CE79F">
            <UpgradeVersion Minimum="1.1.8"
                            OnlyDetect="yes"
                            Property="NEWERVERSIONDETECTED" />
        </Upgrade>

        <Condition Message="Eine neuere Version der DataConverter Komponente ist breits installiert. Die Installation wird abgebrochen.">
            NOT NEWERVERSIONDETECTED OR Installed
        </Condition>
      


        <Property Id="WIXUI_INSTALLDIR" Value="PIPELINECOMPONENTS" />

      <CustomAction Id="CA_CheckInstDir" BinaryKey="binCheckInstDir" DllEntry="CheckInstallDir" />
      
      <UIRef Id="WixUI_InstallDir" />

        <UI>
            <UIRef Id="WixUI_InstallDir" />
            <!-- skip licence dialog -->
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
        </UI>
        
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="PF86" Name="Program Files (x86)">
                <Directory Id="MicrosoftSQLServer" Name="Microsoft SQL Server">
                    <Directory Id="dir100" Name="100">
                        <Directory Id="DTS" Name="DTS">
                            <Directory Id="PIPELINECOMPONENTS" Name="PipelineComponents">
                                <Component Id="DataConverter.dll" Guid='40D45F75-F527-4052-9B8D-E3B4E2B2E061'>
                                    <File Id='DataConverter.dll' Source="c:\Program Files (x86)\Microsoft SQL Server\100\DTS\PipelineComponents\DataConverter.dll" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            
            <Directory Id="GAC" Name="GAC">
                <Component Id="RT_DataConverter" Guid="4DF315F3-F094-4C1F-A0C1-B3EFFF04431A" DiskId="1">
                    <File Id="F_RT_DataConverter" Name="DataConverter.dll" Source="c:\Program Files (x86)\Microsoft SQL Server\100\DTS\PipelineComponents\DataConverter.dll" KeyPath="yes" Assembly=".net"/>
                </Component>
                <Component Id="RT_IG_Shared" Guid="AD306ED2-313A-46DD-ABE6-2324890F7F1C" DiskId="1">
                    <File Id="F_RT_IG_Shared" Name="Infragistics2.Shared.v10.2.dll" Source="C:\Program Files (x86)\Infragistics\NetAdvantage 2010.2\Windows Forms\Bin\Infragistics2.Shared.v10.2.dll" KeyPath="yes" Assembly=".net"/>
                </Component>
                <Component Id="RT_IG_UltraWinEditors" Guid="1B9C64A6-9496-48DC-B3AB-EADA580E7039" DiskId="1">
                    <File Id="F_RT_IG_UltraWinEditors" Name="Infragistics2.Win.UltraWinEditors.v10.2.dll" Source="C:\Program Files (x86)\Infragistics\NetAdvantage 2010.2\Windows Forms\Bin\Infragistics2.Win.UltraWinEditors.v10.2.dll" KeyPath="yes" Assembly=".net"/>
                </Component>
                <Component Id="RT_IG_Win" Guid="F4091296-F998-44F5-9F6E-9410B305EDEF" DiskId="1">
                    <File Id="F_RT_IG_Win" Name="Infragistics2.Win.v10.2.dll" Source="C:\Program Files (x86)\Infragistics\NetAdvantage 2010.2\Windows Forms\Bin\Infragistics2.Win.v10.2.dll" KeyPath="yes" Assembly=".net"/>
                </Component>
                <Component Id="RT_IG_MISC" Guid="9A8E0196-A687-40B3-B5F7-BC4E9D338F00" DiskId="1">
                    <File Id="F_RT_IG_MISC" Name="Infragistics2.Win.Misc.v10.2.dll" Source="C:\Program Files (x86)\Infragistics\NetAdvantage 2010.2\Windows Forms\Bin\Infragistics2.Win.Misc.v10.2.dll" KeyPath="yes" Assembly=".net"/>
                </Component>
                <Component Id="RT_IG_UltraWinGrid" Guid="1F20FAB8-6C8F-4C67-B1BC-082FD2CE4A67" DiskId="1">
                    <File Id="F_RT_IG_UltraWinGrid" Name="Infragistics2.Win.UltraWinGrid.v10.2.dll" Source="C:\Program Files (x86)\Infragistics\NetAdvantage 2010.2\Windows Forms\Bin\Infragistics2.Win.UltraWinGrid.v10.2.dll" KeyPath="yes" Assembly=".net"/>
                </Component>
            </Directory>
        </Directory>





        <Feature Id='MyFeature' Title='My 1st Feature' Level='1'>
            <ComponentRef Id='DataConverter.dll' />
            <ComponentRef Id='RT_DataConverter' />
            <ComponentRef Id='RT_IG_Shared' />
            <ComponentRef Id='RT_IG_UltraWinEditors' />
            <ComponentRef Id='RT_IG_Win' />
            <ComponentRef Id='RT_IG_MISC' />
            <ComponentRef Id='RT_IG_UltraWinGrid' />
          
        </Feature>

       

      <InstallExecuteSequence>

        <Custom Action="CA_CheckInstDir"  After="InstallValidate">NOT Installed</Custom>
        <RemoveExistingProducts After="InstallValidate"/>
        

      </InstallExecuteSequence>
      
        <Icon Id="DataConverter_DC.ico" SourceFile="C:\Visual Studio\Visual Studio TFS\initions-BI\Henry Components\DataConverter\Main\DataConverter\DataConverter_DC.ico"/>
        <Property Id="ARPPRODUCTICON" Value="DataConverter_DC.ico" />
        <Property Id="ALLUSERS" Value="1" />

      <!--<Binary Id="binCheckInstDir" SourceFile="C:\Visual Studio\Visual Studio TFS\initions\BI\SSIS\WiX\CustomActionCheckInstallDir\CustomActionCheckInstallDir\bin\Debug\CAINSTDIR.CA.dll"/>-->
    </Product>

</Wix>

